body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
	margin: 0;
	padding: 0;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
fieldset, img {
	border: 0;
}

ol, ul {
	list-style: none;
}
caption, th {
	text-align: left;
}
h1, h2, h3, h4, h5, h6 {
	font-size: 100%;
	font-weight: normal;
}
q:before, q:after {
	content: '';
}
abbr, acronym {
	border: 0;
}
body {
	font: 14px/18px Arial, Tahoma, Verdana, sans-serif;
	width: 100%;
	background:url(../img/body_bg.png) repeat-x 100% 104px;
}
a {
	color: blue;
	outline: none;
	text-decoration: underline;
}
a:hover {
	text-decoration: none;
}
p {
	margin: 0 0 18px
}
img {
	border: none;
	color: #000;
}
input {
	vertical-align: middle;
}
#wrapper {
	width: 1000px;
	margin: 0 auto;
}


/* Header
-----------------------------------------------------------------------------*/
#header {
	height: 110px;
	margin: 0 0 30px 0;
	width:1000px;
}
.logo {
	height:104px;
	float: left;
	}


.menu_wrap {}

.menu {	
	margin: 0 0 20px 0;
	height:50px;
	float: right;
	width: 540px;	
	background: url(../img/menu_bg.png) no-repeat top left;

	}
.menu ul {
	list-style: none;
	background: #999;}	
.menu li {
	float: left;
	background: url(../img/menuDelimiter.gif) right top no-repeat;	
	padding: 0 20px 0 20px}
.menu li a {
	padding: 14px 0 0 0;
	text-align: center;
	font-weight:bold;
	display: block;
	color: #ec8b25;
	width: 95px;
	height: 50px;
	text-decoration: none}
.menu li a:hover {
	background:url(../img/menuItem_bg.png) no-repeat;
	color:#fff} 
.active a{
	background:url(../img/menuItem_bg.png) no-repeat;
	color:#fff !important} 	
.last {background: none !important;}	
/* login section */

.login {float:right; width: 310px; margin: 12px 0 10px 0; }
.login ul{list-style: none}
.login li {
	display: inline;
	padding: 0 0 0 40px;}

.clearfix {clear: both} 
/* **************************/
.control_panel {
	float:right; 
	width: 350px; 
	margin: 12px 0 10px 0;
	display:none;}
.control_panel ul{list-style: none}
.control_panel li {
	display: inline;
	padding: 0 0 0 10px;}
/*  partners links section***************************************/
.ourPartners { 
	height:260px;
	width:1000px;
/*	margin: 0 0 15px 0;*/
	background:url(../img/header_bg.jpg) no-repeat top;
	}
.left_col_wrap {float:left; height:260px; width:400px; }
.right_col_wrap {float: right; height:260px; width:400px;}
.txt_justOneClick {
	position:absolute;
	text-align:center;
	letter-spacing:-1px;
	font-size:18px;
	width:400px;
	height:90px;
	margin: 150px 0 0 260px;
	}
.font_23 {font-size: 23px;}	
.txt_GetCalls {
	height:40px; 
	font-size: 32px; 
	color:#ad1112;
	position:absolute; 
	width:430px;
	letter-spacing:-1px;
	padding: 5px 0 5px 0;
	margin: 22px 0 0 260px; }
/* menu section */	
.ourPartners_txt {
	position: absolute;
/*	float:right;*/
	color:#1187f2; 
	font-size:24px;
	font-weight: bold;
	margin: 19px 0 0 772px ; 
	width: 150px; 
	height: 30px;}
.partnersLinks {
	width: 300px;
	height:200px;
	margin: 50px 0 0 0;
/*	position:absolute;*/
	float: right; }
.partnersLinks_col_1 {
	float: left;	
	}
.partnersLinks_col_1 ul{list-style:none}
.partnersLinks_col_1 li{
	padding: 0 0 15px 30px;
}
.partnersLinks_col_2 {
	float: right;
}	
.partnersLinks_col_2 ul{list-style:none}
.partnersLinks_col_2 li{
	padding: 0 30px 15px 0;
	}
/* buttons singup now how it works**********************************************/	
.buttonsWrap {
	width:395px; 
	overflow:hidden; 
	position:relative; 
	height: 45px;
	margin: 0px 0 15px 120px;	}
.singUpNow {
	position: absolute;
	z-index:2}
.howItWorks {
	position:absolute;
	margin: 0 0 0 157px;
	z-index:1}
/* Middle
-----------------------------------------------------------------------------*/
#middle {
	width: 100%;
	height: 1%;
	position: relative;
}
#middle:after {
	content: '.';
	display: block;
	clear: both;
	visibility: hidden;
	height: 0;
}
#container {
	width: 100%;
	float: left;
	overflow: hidden;
}
.margin_top_25	{margin: 25px 0 0 0;}
#content {
	padding: 0 340px 0 0;
/*	min-height:550px;
	height:100%;*/
}



/* Sidebar Right
-----------------------------------------------------------------------------*/
#sideRight {
	float: left;
	margin-right: -3px;
	width: 320px;
	margin-left: -320px;
	position: relative;
	background: none;
}
/* comments section */
.content-container		{ width:315px;  }
.wrapper_content				{ background: url(../img/commentsBG_top.gif) no-repeat top left; width:315px; margin: 0 0 10px 0; }
.wrapper_content .inner			{ background:url(../img/commentsBG_bottom.gif) bottom left no-repeat; padding-top:15px;  position:relative }
.wrapper_content .content-bg	{ background: url(../img/commentsBG_mid.gif) repeat-y; width:315px; position:absolute; top:39px; bottom:39px}
.wrapper_content .content_text	{ position:relative; top:-9px; margin:0px 15px; padding: 10px 0 10px 0;  min-height:50px ;overflow:hidden;  }	
.main_text {font-size:13px; text-align: center}
/* table section**/
.prices_table {margin: 0 !important; padding:0 !important;}
.table_wrap {
	background: url(../img/table_bg.png) no-repeat;
	padding: 2px 0 0 0;
	height: 284px;
	width: 623px}

.prices_table {
	width:623px;
	height:auto;
	}
.row_1_ie {height: 35px }
.row_2_ie {height:83px }
.row_3_ie {height:36px }
.row_4_ie {height:26px}
.row_56_ie {height:32px}
.row_7_ie {height:43px}
				
.blue {color: #1ab3e4}
.orange {color: #ff7603}
.red {color: #a31534}
.pad_left_40 {padding: 0 0 0 40px;}	
.font_18 {font-size:18px}
/* Footer
-----------------------------------------------------------------------------*/
#footer {
/*	margin: 20px 0 0 0;*/
	padding: 30px 0 0 0 ;
	height: 60px;
	width:1000px;
	margin: 20px auto 0 auto;
	background: url(../img/footer_bg.gif) top repeat-x;
	font-size:18px;
}
/* bottom menu*/
.bottomMenu {float: right	}
.bottomMenu ul{list-style: none}
.bottomMenu li{display: inline; padding: 0 0 0 40px; }
.bottomMenu a {color: gray; font-size:14px}
/* copyright*/
.copyright {float: left; width: 250px; height:20px; color: #000 !important; font-size:14px}
/* call us service section *********************************************/
.callUsService {
	background: url(../img/callus_bg.png) repeat-x top;
	width:612px;
	min-height:170px;
	height:100%;	
	margin: 0 14px 0 14px}
.callUsService img {padding: 10px 20px 10px 20px}
.callUsService p {padding: 25px 10px 0 0; text-align: justify}	
.callUsService_left {
	background:  url(../img/callus_left.png) left top no-repeat;
	min-height:170px;
	height:100%;
	width: 640px;
	}
.callUsService_right {
	background: url(../img/callus_right.png) top right no-repeat;
	min-height:170px;
	width: 640px;	
	height:100%;
	}
/*  Refund Policy page
*************************************************/	
.pageHeader {
	font-size:26px;
	color:#d4227c;
	font-weight: bold;
	text-decoration: underline;
	}
.RefundPolicyContent {
	text-align:justify;
	margin: 25px 0 0 0;
		} 	
.RefundPolicyBG {
	background: url(../img/refungPolicy_bg.jpg) no-repeat center bottom;
	width: 300px;
	height: 233px;
	}
/* Login Page *
************************************************/
.loginSection_wrap {margin:0 0 0 220px;}
.loginSection_left {
	background:url(../img/login_bg_left.jpg) no-repeat left;
	width: 622px;
	height:284px;}
.loginSection_right {
	background:url(../img/login_bg_right.jpg) no-repeat right;
	width: 622px;
	height:284px;
}
.loginSection{
	background:url(../img/login_bg_mid.jpg) repeat-x;
	margin: 0 14px 0 14px;
	padding: 10px 0 0 0;
	width: 594px;
	height:284px;
	font-size: 18px;
	}
.loginSection table{	
	margin: 35px 0 0 10px;
}
	
.fill-input{
	background:url(../img/mid_input.gif) 0 0 repeat-x;
	/*width:100%;*/
	width:410px;
	border:none;
	height:25px;
	padding:7px 0;
}
.left-input{
	background:url(../img/left_input.gif) left top no-repeat;
	/*width:50%;*/
	width:204px;
}
.right-input{
	background:url(../img/right_input.gif) right top no-repeat;
	padding:0 8px 0 8px;
	margin: 0 0 0 0;
	width:410px;
}
.right-input input{
	font-size:18px;
	line-height:normal;
	color:#01a7ff;
	padding:0 0 0 5px;
	border:none;
	/*width:95%;*/
	width: 394px;
	height:24px;
	background:none;
}
/* Input In the case if the password wrong 
******************************************/
.false_input_mid {background:url(../img/mid_input_wrong.gif) 0 0 repeat-x !important;}
.false_input_right {background:url(../img/right_input_wrong.gif) right top no-repeat !important;}
.false_input_left {background:url(../img/left_input_wrong.gif) left top no-repeat;}
/* **************/



.forgotPassword_wrap {position: relative; margin: 15px 0 0 150px; }
.forgotPassword_txt {}
.forgotPassword {color: #706a6a; }
.forgotPassword a{color: #706a6a; text-decoration:none}
.forgotPassword table {
	margin: 20px 0 0 0 !important;
	}
.black {color: #000}
.bold {font-weight:bold}
/* Contact Us Page******************************/
#content_contactUs {
	padding: 0 0 0 400px;
	min-height:550px;
	height:100%;
	background: url(../img/contactUs_bg.jpg) no-repeat left  60px;
}
.contactUs {
	font-size:18px;
	}
.contactUs  textarea{
	background:url(../img/textarea_bg.png) no-repeat;
	width:425px;
	height: 170px;
	border: none;
	}
.contactUs_txt {
	width: 425px;
	margin: 0 10px 0 0;
	text-align:justify;
	}
.padd_left { padding: 0 0 0 130px	}
/* Client Page
********************************************/
.menu_client {
	background: url(../img/menu_bg.png) repeat-x top;
	width:680px;
	font-size: 18px;
	height: 40px;
	padding: 0 0 0 0;
	margin:10px 0 0 0;
	float:right;
	}
.menu_client li{
/*	display:inline;	*/
	float: left;
	letter-spacing: -1px;
	background: url(../img/menuDelimiter.gif) right top no-repeat;
	padding: 0 8px 0 8px;
	text-align: center;
	}
.menu_client a{
	text-decoration:none;
/*	font-weight:bold;*/
	color: #ea8321;	
	display:block;
	height:40px;
	min-width:132px;
	padding: 10px 3px 0 3px;	
	}
.menu_client a:hover{color: #fff; background: url(../img/menu_bg_client.png) no-repeat center}
.menu_client_active a{color: #fff !important; background: url(../img/menu_bg_client.png) no-repeat center}
.payments {
	width:215px;
	height:55px;
/*	position:absolute;*/
	margin:0 3px 0 0;
	float:right;
	
	}
.large_bg_menu	a:hover{ background:url(../img/menu_bg_client_large.png) no-repeat} 
.large_bg_menu_active a{ background:url(../img/menu_bg_client_large.png) no-repeat} 
.large_bg_menu_active a:hover { background:url(../img/menu_bg_client_large.png) no-repeat}
.price {
	background:url(../img/price_bg.png) no-repeat;
	width:68px;
	height:35px;
	position:absolute;
	padding: 12px 0 0 0;
	text-align:center;
	margin: 10px 0 0 58px;
	color: #FFF;
	}	
.makePayment {
	margin: 20px 0 0 110px;
	width:101px;
	height:24px;
	position:absolute;
	}	
.balance {
	position:absolute;
	margin: 40px 0 0 0;
	}
.logout {
	position:absolute;
	margin: 0 0 0 162px;} 	
/* content section*****************/
.contentClient {
/*	overflow:hidden;*/
	height:100%;
	width:1000px;
	min-height:600px;
	}
/* *******/	
.profileContent {
	width: 510px;
	height:auto;
	padding: 0 0 0 260px;
	float:left
	}
.profileContent table {/*margin: 0 0 0 220px;*/}	
.profileContent table td {
	height:40px;
	font-size: 18px ;	
	}
.bg_td {
	background: url(../img/dot_bg.jpg) repeat-x bottom;	
	}	
.height_32 {
	height:32px !important;
	font-size: 16px !important;
	color: #4d4d4d;
	}
.cancelButton {background:url(../img/cansel_button.png) no-repeat; border:none; width:152px; height:35px;		}
/* ************/
.currentPackage {
	font-size: 18px;	
	float: right;
/*	margin-right: -3px;*/
	width: 232px;
	min-height:273px;
	/*position: relative;	*/
	/*background: url(../img/currentPackage_bg.png) no-repeat;*/
}
.currentPackage ul {margin: 0 0 0 30px;}
.currentPackage li{
	background:url(../img/bird.png) no-repeat left;
	padding: 0 0 0 20px;
	line-height: 35px;
	color: #ea8321;
	}
.currentPackage a {display:block; margin: 5px 0 0 30px}	
.currentPackageHeader {	
	padding: 20px 0 0 0px;
	text-align:center
	}
.currentPackageHead {
	background:url(../img/currentPackage_head_bg.png) no-repeat top left; 
	width:232px; 
	height:31px;
	text-align:center;
	padding: 10px 0 0 0;
	
	}
.currentPackageMid {background: url(../img/currentPackage_mid_bg.png) repeat-y; width:232px; height:100%}
.currentPackageBottom {background: url(../img/currentPackage_bottom_bg.png) no-repeat; width:232px; height:18px;}	
/* ************************/	
.profile_edit_txt {
	width:200px;
	height:30px;
	padding: 5px 0 0 15px ;
/*	position:absolute*/}
.font_16 {font-size:16px}
.font_26 {font-size:26px}	
/* All rates page 
*********************************************/
.allRates_wrap {
	width:935px;
	height:100%;
	background: #FFF;
	}
.allRates_wrap td{
	padding: 0 0 0 170px;
	height:40px	}
.allRates {
	height:110px;
	width:100%;}	
.letter {
	background:url(../img/letter_bg.png) no-repeat;
	width: 56px;
	height:45px;
	padding:11px 0 0 18px;
	margin: 5px 0 0 0;
	color:#fff;
	}
.allRates ul {float:right; margin: 45px 20px 0 0; }

.allRates li{
	float: left;
	padding: 0 3px 0 0;
	}	
.allRates a{
	color: #82cafe;
	font-size:20px;
	display:block;
	background: url(../img/small_letter.png) no-repeat;
	width: 25px;
	height:25px;
	text-align:center;
	padding: 3px 0 0 0px;
	text-decoration: none;
	}	
.allRates a:hover{	color:#ef9c45}
.index_wrap {
	width:120px;
	height:95px;
	float:left;	}
.td_color_head {background:#82cafe}
.td_color_lite {background:#e8f4fd }
.td_color_dark {background:#dbeefc} 
.white {color: #fff;}	
.font_20 {font-size:20px;}
.closeButton {position:absolute; right:50px; top:-17px}
.closeButton a{
	display:block;
	width: 38px;
	height:39px;	
	background:url(../img/close_button.png) no-repeat;
	}
.closeButton a:hover{ background:url(../img/close_button_active.png) no-repeat;}	
/* edit profile
*******************************************************/
.sel80 {
	width: 424px;
/*	height: 26px*/}
.sel81 { width: 424px; }

/* Call Us button constructor
*******************************************************************/	
.callUsBtnConstuctor {	

}
.borders_l_r {
	border-left: #aeddf4 2px solid;
	border-right: #aeddf4 2px solid;}
.border_l {border-left: #aeddf4 2px solid;} 	
.table_bottom {background:url(../img/button-constructor_bottom.png) no-repeat bottom}
.table_bottom_border {background: url(../img/line.png) no-repeat bottom}
.table_head {background: url(../img/button-constructor_top.png) no-repeat top left} 
.table_head_left {background:url(../img/button-constructor_top_left.png) no-repeat top left;}
.table_head_right {background:url(../img/button-constructor_top_right.png) right top no-repeat}	
.table_head_mid {background:url(../img/button-constructor_top_mid.png) repeat-x;}	
.table_bottom_left {background:url(../img/button-constructor_bottom_left.png) no-repeat left bottom}
.table_bottom_mid {background:url(../img/button-constructor_bottom_mid.png) repeat-x bottom}
.table_bottom_right {background:url(../img/button-constructor_bottom_right.png) no-repeat right bottom}
/*.callUsBtnConstuctor table{
	background: url(../img/callus_button_constructor.png) no-repeat center;
	width: 639px;
	height:111px;
	}*/
.viewEditCodeButton {
	position:absolute; 
	width:102px;
	height:24px;
	border: none;
	background: url(../img/view_code.png) no-repeat;
	margin: 5px 0 0 30px;
	z-index:20;
	}
.editButton{
	position:absolute; 
	width:102px;
	height:24px;
	border: none;
	background:url(../img/edit_button.png) no-repeat;
	margin: 5px 0 0 80px;
	z-index:10;
	}
.closeEditButton {
	position:absolute;
	width:23px;
	height:23px;
	margin: 5px 0 0 190px
	}	
.closeEditButtonPass {
	position:absolute;
	width:23px;
	height:23px;
	top:5px;
	right: 5px;
	}	

.pad_bot_10 {margin: 0 0 10px 0; display: block;}
.callUs_txt {
	width:340px;
	height:30px;
	padding: 5px 0 0 0 ;
}
.addButton {
	position:absolute;
	right:145px;
	width: 109px;
	height:23px;}
.testEmbededButton {
	position:absolute; 
	width:102px;
	height:24px;
	border: none;
	background: url(../img/testEmbeded.png) no-repeat;
	margin: 0 0 0 30px;
	z-index:20;
	}
/* sing up page
*************************************************************/	
.dotted_line {background:url(../img/currentPackage_head_bg.png) 100% 36px repeat-x; }
.takenName {
/*	display:block;*/
	display:none;
	text-align:right;
	height: 20px;
	width:100%;
	font-size:16px;
	color: #eb8522}
/* content how it works
******************************************/
#contentHowItWorks {
	padding: 0 0 0 0;
	min-height:550px;
	height:100%;
}
.howItWorks_txt {
	float:left;
	width: 200px;
	height:50px;
	padding: 0 0 0 15px;
	line-height: 25px;
	}
.steps {
	float: right;
	width:660px;
	margin: 0 120px 0 0;	
	}	
.text_justify {text-align:justify}	
/* Edit profile page
**************************************/
.UpgradePackage_wrap {
	width:100%;
	height:100%;
	overflow:hidden;}
.UpgradePackage_content {
	float: right;
	width: 600px;	
	margin: 0 60px 0 0;
	}
/* packages
*******************************/	
.pkg_top {width:191px; height: 26px; text-align:center; padding: 10px 0 0 0;}
.pkg_mid {width:191px; height:100%; color:#ea8321; font-size:18px}
.pkg_bottom {width:191px; height:16px;}

.pkg_mid ul{margin: 0 0 20px 15px;}
.pkg_mid li{
	background:url(../img/bird.png) no-repeat left; 
	padding: 0 0 0 20px;
	line-height:30px;}
.pkg_mid input {margin: 0 0 0 18px}

.pkg_1_bg_top {background:url(../img/pkg_1_top.gif) no-repeat;}
.pkg_1_bg_mid {background:url(../img/pkg_1_mid.gif) repeat-y}
.pkg_1_bg_bottom {background:url(../img/pkg_1_btm.gif) no-repeat}

.pkg_2_bg_top {background:url(../img/pkg_2_top.gif) no-repeat}
.pkg_2_bg_mid {background: url(../img/pkg_2_mid.gif) repeat-y}
.pkg_2_bg_bottom {background: url(../img/pkg_2_btm.gif) no-repeat}

.pkg_3_bg_top {background:url(../img/pkg_3_top.gif) no-repeat}
.pkg_3_bg_mid {background:url(../img/pkg_3_mid.gif) repeat-y}
.pkg_3_bg_bottom {background: url(../img/pkg_3_btm.gif) no-repeat;}

.upgrade_pkg_txt {
	width:230px;
	height:30px;
	padding: 5px 0 0 15px ;
}

/* button constructor popup window
*********************/
.popup_wrap {
	width:865px;
/*	height:296px;*/
	height:280px;
	padding: 0 10px;
	}
.popup_wrap ul {margin: 10px 10px 0 10px}
.popup_wrap li{		padding: 0 0 15px 0;	}
.test {
	width:247px;
	height:280px;	
	float:left;
	background:url(../img/popup_mid.png) repeat-x;
	}
.popup_bg_left {background: url(../img/popup_left.gif) no-repeat left; width:21px;}	
.get {
	width: 290px;
	height:280px;
	border-left: #aeddf4 2px solid;
	border-right: #aeddf4 2px solid;
	float:left;
	background:url(../img/popup_mid.png) repeat-x;
	}
.pop {
	width:282px;
	height:280px;
	background:url(../img/popup_mid.png) repeat-x;
	float:left;}
.popup_bg_right {background: url(../img/popup_right.png) no-repeat right; width:21px; height:280px; float:left}
.popup_bg_left {background: url(../img/popup_left.png) no-repeat center; width:21px; height:280px; float:left}
.close {
	position: absolute;
	width: 38px;
	height:39px;
	margin: -20px 0 0 842px;
	}
 
.fill-input_pop{
	background:url(../img/mid_input.gif) 0 0 repeat-x;
	/*width:100%;*/
	width:254px;
	border:none;
	height:25px;
	padding:7px 0;
}
.left-input_pop{
	background:url(../img/left_input.gif) left top no-repeat;
	/*width:50%;*/
	width:127px;
}
.right-input_pop{
	background:url(../img/right_input.gif) right top no-repeat;
	padding:0 8px 0 8px;
	margin: 0 0 0 0;
	width:254px;
}
.right-input_pop input{
	font-size:18px;
	line-height:normal;
	color:#01a7ff;
	padding:0 0 0 5px;
	border:none;
	/*width:95%;*/
	width: 241px;
	height:24px;
	background:none;
} 	
.line_height {line-height:25px}
.pad_btm_30 {padding-bottom:30px !important}

/* The Window's CSS z-index value is respected (takes priority). If none is supplied,
	the Window's z-index value will be set to 3000 by default (via jqModal.js). */
	
.jqmWindow {
    display: none;    
    position: fixed;
    top: 17%;
    left: 50%;    
    margin-left: -400px;
    width: 865px;    
    background-color: #cfe7ff;
    padding: 12px;
}

.jqmOverlay { background-color: #000; }

/* Background iframe styling for IE6. Prevents ActiveX bleed-through (<select> form elements, etc.) */
* iframe.jqm {position:absolute;top:0;left:0;z-index:-1;
	width: expression(this.parentNode.offsetWidth+'px');
	height: expression(this.parentNode.offsetHeight+'px');
}

/* Fixed posistioning emulation for IE6
     Star selector used to hide definition from browsers other than IE6
     For valid CSS, use a conditional include instead */
* html .jqmWindow {
     position: absolute;
     top: expression((document.documentElement.scrollTop || document.body.scrollTop) + Math.round(17 * (document.documentElement.offsetHeight || document.body.clientHeight) / 100) + 'px');
}
/* 
**************************************/
.return {
	position:absolute; 
	width:196px;
	height:45px;
	border: none;
	background: url(../img/return_button.png) no-repeat;
	margin: 0 0 0 30px;
	z-index:20;
	}
.saveWidget{
	position:absolute; 
	width:239px;
	height:45px;
	border: none;
	background:url(../img/save_widget_button.png) no-repeat;
	margin: 0 0 0 180px;
	z-index:10;
	}
.padd_right_13	{padding-right:13px}
.button_design {
	position:absolute;
	border: none;
/*	background:url(../img/button_design.png) no-repeat;*/
	margin:10px 0 0 -255px;	
	width:235px; min-height:35px; height:170px; border:1px solid gray; padding:5px; overflow:visible;
	
	}
/* Information Page
*************************/

.information {
	width: 510px;
	height:auto;
	padding: 0 0 0 240px;
	float:left;
	}
.information table {/*margin: 0 0 0 220px;*/}	
.information table td {
	height:40px;
	font-size: 18px ;	
	}
.bg_td {
	background: url(../img/dot_bg.jpg) repeat-x bottom;	
	}	
.height_32 {
	height:32px !important;
	font-size: 16px !important;
	color: #4d4d4d;
	}	
	
/* payments History
*******************************/
.paymentsHistory{
	width: 550px;
	padding: 0 232px 0 0;
	float:right
	}
.paymentsHistory td {padding:5px}	
.bg_head_payments {background: #80cee8}	
.border_bottom_payments {border-bottom: 2px solid #80cee8}	
.border_right_payments {border-right: 2px solid #80cee8; border-left: 2px solid #80cee8}	
/* pricing page
*********************************************/
.pricing_wrap {
	width: 700px;
	height:100%;
	margin: 0 0 0 0;
	}
.pricing_wrap table{	
	margin: 0 0 0 220px;}
.pricing_text {
	width:640px; 
	height:100%;	
	text-align: justify;
	padding: 25px 0 0 220px;
	}	 
.pricing_wrap td{	
	font-size:14px !important;
}
/* *************************/
.password_reset {
	width: 640px;
	height:140px;}
.change_pass_button {
	background:url(../img/save_button.png) no-repeat; 
	width:152px; 
	height:35px; 
	border:none;	}
/*  PAGINATION CALLS HISTORY**************************************************/
.pagination	{
	margin: 0 0 0 200px;
	width:200px;
	height:25px;
	text-align:center; }
.pagination	li{
	display:inline;
	text-align:center;
	}
.pagination	a{
	text-decoration:underline;
	color: #4d4d4d;
	}
.current a{text-decoration:none}	

#recaptcha_widget_div {
	max-height:175px;
	height:175px;
}
